APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_SESSION_NAME=taskhive_session
APP_COOKIE_DOMAIN=localhost

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=p4u_db
DB_USERNAME=root
DB_PASSWORD=secret
